h1 {
	color:red;
}
html {
	background-color: #00ffe5;
	padding:20px;
	margin:10px;
}
body {
	background-color: #cfe8ef;
	padding:10px;
	font-size: 25px;
	text-align:center;
}
footer {
	position: relative;
	left: 0;
	bottom: 0;
	height: 30px;
	width: 100%;
	overflow: hidden;
}
#photo {
	max-width: 225px;
	max-height: 225px;
	margin: 0px auto;
}
